// Container & Breakpoints

@use "sass:math";
$containerWidth: 1108;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint480: 479.98+px;

// Burget Menu
$burgerBreakPoint: $breakpoint768;


// Colors
$title: #1A2578;
$subtitle: #484C63;
$btnColor: #BF0830;